@import '../vendors/bootstrap/less/bootstrap.less';

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-Light.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-LightIt.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-LightIt.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-It.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-Semibold.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-SemiboldIt.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-Bold.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-Black.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-sans-pro/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
  url('/fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-BlackIt.ttf.woff2') format('woff2'),
  url('/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
  url('/fonts/source-sans-pro/OTF/SourceSansPro-BlackIt.otf') format('opentype'),
  url('/fonts/source-sans-pro/TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}

.border-radius(@radius) {
  .border-top-radius(@radius);
  .border-right-radius(@radius);
  .border-bottom-radius(@radius);
  .border-left-radius(@radius);
}

body {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: 0 0 repeat url('/images/tile.png');

  h1 {
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    color: #3366CC;
  }

  h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .page {
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    .border-radius(5px);

    .ratings {
      margin: 0 auto;
      width: 150px;

      .rating {
        width: 27px;
        height: 27px;
        display: inline-block;

        &.on {
          background: 0 0 no-repeat transparent url('/images/rating-on.png');
        }

        &.off {
          background: 0 0 no-repeat transparent url('/images/rating-off.png');
        }
      }
    }

    .table-bordered {
      border-radius: 5px;
      border-top: 0;

      tr {
        th,
        td {
          vertical-align: middle;
          border: 1px solid #E0E0E0;
        }

        &:first-child {
          th {
            background-color: #E0E0E0;
            padding-top: 20px;
            padding-bottom: 20px;

            &:first-child {
              border-top-left-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -webkit-border-top-left-radius: 5px;
              border-left-width: 0;
            }

            &:last-child {
              border-top-right-radius: 5px;
              -moz-border-radius-topright: 5px;
              -webkit-border-top-right-radius: 5px;
              border-right-width: 0 !important;
            }
          }
        }

        &:last-child {
          td {
            &:first-child {
              border-bottom-left-radius: 5px;
              -moz-border-radius-bottomleft: 5px;
              -webkit-border-bottom-left-radius: 5px;
            }

            &:last-child {
              border-bottom-right-radius: 5px;
              -moz-border-radius-bottomright: 5px;
              -webkit-border-bottom-right-radius: 5px;
            }
          }
        }
      }
    }

    .btn-search {
      padding: 5px 20px 6px 20px;
      background-color: hsl(201, 100%, 30%) !important;
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
      background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
      background-image: -moz-linear-gradient(top, #00a5ff, #006399);
      background-image: -ms-linear-gradient(top, #00a5ff, #006399);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
      background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
      background-image: -o-linear-gradient(top, #00a5ff, #006399);
      background-image: linear-gradient(#00a5ff, #006399);
      border-color: #006399 #006399 hsl(201, 100%, 25%);
      color: #fff !important;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
      -webkit-font-smoothing: antialiased;
    }

    .btn-reset {
      padding: 5px 20px 6px 20px;
      background-color: hsl(0, 0%, 66%) !important;
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0e0e0", endColorstr="#a8a8a8");
      background-image: -khtml-gradient(linear, left top, left bottom, from(#e0e0e0), to(#a8a8a8));
      background-image: -moz-linear-gradient(top, #e0e0e0, #a8a8a8);
      background-image: -ms-linear-gradient(top, #e0e0e0, #a8a8a8);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #a8a8a8));
      background-image: -webkit-linear-gradient(top, #e0e0e0, #a8a8a8);
      background-image: -o-linear-gradient(top, #e0e0e0, #a8a8a8);
      background-image: linear-gradient(#e0e0e0, #a8a8a8);
      border-color: #a8a8a8 #a8a8a8 hsl(0, 0%, 60.5%);
      color: #333 !important;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
      -webkit-font-smoothing: antialiased;
      margin-left: 5px;
      margin-right: 15px;
    }

    .search-box {
      border-top: 1px solid #E0E0E0;
      padding-top: 20px;
      padding-bottom: 20px;

      form.form-inline {
        width: 80%;
        margin: 0 auto;

        .form-group {
          margin-right: 10px;

          &.search-group {
            width: 54%;
          }

          .form-control {
            width: 100% !important;
          }
        }
      }
    }

    .no-padding {
      padding: 0 !important;
      margin: 0 !important;
    }

    .pagination {
      width: 250px;
      margin: 0 auto;
      display: block;
    }

    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url('/vendors/bootstrap/fonts/glyphicons-halflings-regular.eot');
      src: url('/vendors/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
      url('/vendors/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
      url('/vendors/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
      url('/vendors/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
    }
  }
}